.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}
.calculatorBody {
    border: 2px solid #000000;
    width: 330px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    /*background-color: #f4f5ff;*/
    background-color: #121312;
    padding: 10px;
}
.display{
    border: 2px solid black;
    width: 330px;
    height: 160px;
    background-color: #121312;
    padding: 10px;
}
.windowCalculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    border: 1px solid #f4f5ff;
    background-color: #374949;
    height: 140px;
}

.windowCalculator .placeForInput{
   margin-right: 15px;
}

.windowCalculator .placeForResult{
    margin-right: 15px;
    margin-bottom: 13px;
}

.placeForInput{
     max-height: content-box;
     font-size: 23px;
     margin-right: 5px;
     color: #fc4b05;
     word-break: break-all;
 }

.placeForResult{
    font-size: 23px;
    margin-right: 5px;
    color: #fc4b05;
}

.button{
    display: flex;
    flex-wrap: wrap; /* Добавлено свойство flex-wrap */
    flex-direction: row;
    justify-content: space-evenly; /* Чтобы кнопки распределялись равномерно по контейнеру */

}


.default {
    border: 1px solid #f4f5ff;
    min-width: 70px;
    height: 30px;
    color: #f4f5ff;
    background-color: #121312 ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
}
.default:hover  {
    background-color: #dadade;
    color: #121312;
}
.clear{
    border: 1px solid #f4f5ff;
    min-width: 150px;
    height: 30px;
    margin-bottom: 5px;
    color: #f4f5ff;
    background-color: #121312 ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.clear:hover{
    background-color: #dadade;
    color: #121312;
}

.primary {
    border: 1px solid #f4f5ff;
    min-width: 70px;
    height: 30px;
    color: #f4f5ff;
    background-color: #2b50d3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
}
.primary:hover{
    background-color: #b60f39;
    color: #121312;
}

.secondary {
    border: 1px solid #f4f5ff;
    min-width: 70px;
    height: 30px;
    color: #f4f5ff;
    background-color: #6e24a1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
}

.secondary:hover{
    background-color: #b60f39;
    color: #121312;
}