.calculatorBody {
    border: 2px solid black;
    width: 400px;
    height: 300px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap; /* Добавлено свойство flex-wrap */
    flex-direction: row;
    justify-content: space-evenly; /* Чтобы кнопки распределялись равномерно по контейнеру */
    background-color: #5e2c00;
}

.button{
    display: flex;
    flex-wrap: wrap; /* Добавлено свойство flex-wrap */
    flex-direction: row;
    justify-content: space-evenly; /* Чтобы кнопки распределялись равномерно по контейнеру */
}

.button button  {
    border: 1px solid black;
    width: 90px; /* Ширина кнопки */
    height: 35px;
    margin-bottom: 5px; /* Небольшой отступ между кнопками */
    background-color: #da954d;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}


.display{
    border: 2px solid black;
    width: 400px;
    height: 60px;
    padding: 10px;
    background-color: #374949;

    display: flex;
    flex-direction: column;
}

.placeForResult{

    border: 1px solid red;

}

.placeForInput{
    border: 1px solid #0b3f14;
}