html, body, .AppCalculator {
  height: 100%;
  margin: 0;
  background: url("../src/calculator/theme/theme.png");
}

body {

}

/*.AppCalculator {*/
/*  background: url("src/calculator/theme/theme.png");*/
/*  background-repeat: no-repeat;*/
/*  background-size: cover;*/
/*  background-position: center;*/
/*  flex: 1; !* Это чтобы контент располагался под фоном *!*/
/*}*/